<ion-header>
	<ion-navbar>
		<ion-title>
			{{ word.en }}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="word-detail">

    <ion-card>
        <p>{{ word.bz }}</p>
        <p>{{ word.iq }}</p>
    </ion-card>

	<!--ion-card *ngFor="let wordGroup of wordDetail">

		<ion-card-header>
			{{ wordGroup.title }}
		</ion-card-header>

		<ion-card-content>
			<ion-list>

		        <ion-item *ngFor="let variation of wordGroup.variations">
		            <span class="english">{{ variation.en }}</span>
		            <span item-right class="arabic">{{ variation.iq }}</span>
		        </ion-item>

		    </ion-list>
	    </ion-card-content>
    </ion-card-->

</ion-content>